body {
  background: hsl(345, 75%, 94%);
  margin: 0;
}
#root {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: hsl(345, 75%, 94%);
  height: 100%;
  overflow: hidden;
}

#navbar {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-end;
  background: #f0628fc4;
}

#navbar button {
  height: 50px;
  /* border-radius: 5px !important; */
  background-color: transparent;
  color: rgb(246, 243, 243);
  font-size: larger;
  font-family: Rubik;
  border: none;
  margin: 5px;
}

.nav-button:hover {
  color: white !important;
  font-weight: bold;
  transition: 0.2s;
}

/* .login {
  background-color: #faa919;
} */

.login:hover,
.register:hover {
  background-color: #fbd605;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  /* position: absolute; */
  /* border: 1px solid black; */
  margin: -50px auto 0 auto;
  z-index: 999;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 400px;
  height: auto;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(80, 80, 80);
  background-color: #f06290;
  display: inline-block;
}
.container h1 {
  text-align: center;
  color: whitesmoke;
  font-family: Rubik, Geneva, sans-serif;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.container form {
  padding: 0 40px;
  box-sizing: border-box;
}
.login,
.register {
  padding: 0 40px;
  margin: 2px;
  box-sizing: border-box;
  outline: none;
  color: #554d6b;
  height: 25px;
  border-radius: 3px;
  /* border: 1px solid #554d6b; */
  border: none;
  box-shadow: 2px 2px 2px rgb(80, 80, 80);
  background-color: #faa919;
}

/* .register {
  background-color: #faa919;
} */
#photo {
  height: auto;
  width: 325px;
  margin: 0px auto 0px auto;
  /* top: -40px;
left: 540px;
position: absolute; */
}

.googs {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}

input {
  width: 100%;
  background-color: rgb(232, 229, 227);
  margin-bottom: 8px;
  height: 25px;
  box-shadow: 2px 2px 2px rgb(80, 80, 80);
  border-radius: 5px;
  border: 1px solid lightgray;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .container #buttonRow{
width: 332px;
text-align: center;
text-size-adjust:inherit;
width: 50%;
} */

#buttonRow {
  margin: 3px auto 10px auto;
}

.hidden {
  display: none;
}

#invalid {
  color: whitesmoke;
  align-self: center;
}

.actionButtons {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  /* max-height: 200px; */
  margin: 10px;
  border: 5px solid transparent;
  box-shadow: 2px 2px 2px rgb(80, 80, 80);
}

.actionButtons:hover {
  border: 5px solid #f06290;
  box-shadow: 2px 2px 2px black;
  transition: 0.2s;
}

.actionButtons:active,
.actionButtons:focus {
  border: 5px solid #fbd704;
}

#profileDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

#leftColumn {
  width: 250px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

#invisibleColumn {
  min-width: 80px;
  max-width: 200px;
}

#profileHeader {
  color: rgb(49, 49, 49);
}

.actionButtonDiv {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(80, 80, 80);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Rubik, Geneva, sans-serif;
}

.actionButtonDiv:hover {
  color: rgb(132, 132, 132);
  transition: 0.2s;
}

.imageRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* position: absolute; */
  /* top: 570px;
  left: 475px; */
}
.petContainer {
  /* position: absolute; */
  border: 1px solid black;
  /* top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 530px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(32, 31, 31);
  display: inline-block;
  height: 500px;
}
.stats {
  width: 100%;
  max-width: 275px;
  /* padding: 0 20px; */
  /* position: relative;
  left: 2%; */
}

.petData {
  color: rgb(80, 80, 80);
  margin: 5px 0px;
}

.stat-name {
  font-size: 18px;
  font-weight: 700;
  color: rgb(80, 80, 80);
  text-transform: uppercase;
  margin: 20px 0;
}
.stat-bar {
  height: 14px;
  background: #8b5563;
  border-radius: 3px;
}
.stat-per {
  height: 14px;
  background: #1d7fa8;
  border-radius: 3px;
  /* position: relative; */
}
/* #healthStat {
  max-width: 20%;
} */
/* #poopStat {
  max-width: 35%;
}
#playStat {
  max-width: 50%;
} */

.tooSoon {
  color: rgba(255, 0, 0, 0.64);
}
#cpheader{
  text-align: center;
  color: rgb(240, 242, 244)
}
#pets{
background-color: #faa919;
max-width: 100px;
margin-top: 15%;
}
.petName{
  max-width: 200px;
  background-color:#f0eeed;
  text-decoration-color: black;
}
.confirm{
background-color: #faa919;
min-width: 150px;
margin-left: 27%;
}
.containerCP{
  position: absolute;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  padding: 10px 20px;
border-radius: 10px;
  background-color: #f06290;
  display: inline-block;
}
.goat{
max-width: 200px;
max-height: 200px;
}
.geico{
  max-width: 200px;
max-height: 200px;
}
.family{
  min-width: 400px;
  max-height: 250px;
}
#petsColor{
  background-color: #faa919;
max-width: 100px;
text-align: center;
}
#warning{
color: #f0eeed;
text-align: center;
font-size: 16px;
font-family: cursive;
}