#root{
margin: 0;
padding: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background: #fbe3e9;
height: 100vh;
overflow: hidden;
}

.login{
background-color: #faa919;

}
.login:hover,.register:hover{
background-color: #fbd605;
}
.container{
position: absolute;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  padding: 10px 20px;
border-radius: 10px;
  background-color: #f06290;
  display: inline-block;
}
.container h1{
  text-align: center;
  color: whitesmoke

  ;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.container form{
  padding : 0 40px;
  box-sizing: border-box;
}
.container button{
  padding : 0 40px;
  box-sizing: border-box;
}
  .register{
    background-color: #faa919
    ;
} 
 #photo{
height: 400px;
width: auto;
top: -40px;
left: 540px;
position: absolute;
}
input{
  width:100%;
  background-color:rgb(192, 190, 187);
}
form{
display: flex;
flex-direction: column;
justify-content: center;
}
/* .container #buttonRow{
width: 332px;
text-align: center;
text-size-adjust:inherit;
width: 50%;
} */

#buttonRow{
  margin: 0 auto;
}
#picOne{
  max-width: 300px; 
  max-height: 300px;
}
#picTwo{
  max-width: 300px; 
  max-height: 300px;
}
#picThree{
  max-width: 300px; 
  max-height: 300px;
}
/* .imageRow.resize{
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
  display:inline;
  flex-direction:row;
  justify-content: center;

} */