#root {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #fbe3e9;
  height: 100vh;
  overflow: hidden;
}

/* .login {
  background-color: #faa919;
} */

.login:hover,
.register:hover {
  background-color: #fbd605;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  /* position: absolute; */
  /* border: 1px solid black; */
  margin: -30px auto 0 auto;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(80, 80, 80);
  background-color: #f06290;
  display: inline-block;
}
.container h1 {
  text-align: center;
  color: whitesmoke;
  font-family: Rubik, Geneva, sans-serif;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.container form {
  padding: 0 40px;
  box-sizing: border-box;
}
.login,
.register {
  padding: 0 40px;
  margin: 2px;
  box-sizing: border-box;
  outline: none;
  color: #554d6b;
  height: 25px;
  border-radius: 3px;
  /* border: 1px solid #554d6b; */
  border: none;
  box-shadow: 2px 2px 2px rgb(80, 80, 80);
  background-color: #faa919;
}

/* .register {
  background-color: #faa919;
} */
#photo {
  height: auto;
  width: 350px;
  margin: 0 auto;
  /* top: -40px;
left: 540px;
position: absolute; */
}

.googs {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
}

input {
  width: 100%;
  background-color: rgb(232, 229, 227);
  margin-bottom: 8px;
  height: 25px;
  box-shadow: 2px 2px 2px rgb(80, 80, 80);
  border-radius: 5px;
  border: 1px solid lightgray;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* .container #buttonRow{
width: 332px;
text-align: center;
text-size-adjust:inherit;
width: 50%;
} */

#buttonRow {
  margin: 3px auto 10px auto;
}

.hidden {
  display: none;
}

#invalid {
  color: whitesmoke;
  align-self: center;
}

#picOne {
  max-width: 250px;
  max-height: 200px;
}
#picTwo {
  max-width: 250px;
  max-height: 200px;
}
#picThree {
  max-width: 250px;
  max-height: 200px;
}
.imageRow {
  display: flex;
  position: absolute;
  top: 570px;
  left: 475px;
}
.petContainer {
  position: absolute;
  border: 1px solid black;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: black;
  display: inline-block;
  height: 500px;
}
.stats {
  width: 100%;
  max-width: 275px;
  padding: 0 20px;
  position: relative;
  left: 2%;
}
.stat-name {
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin: 20px 0;
}
.stat-bar {
  height: 14px;
  background: #8b5563;
  border-radius: 3px;
}
.stat-per {
  height: 14px;
  background: #1d7fa8;
  border-radius: 3px;
  position: relative;
}
#eatStat {
  max-width: 20%;
}
#poopStat {
  max-width: 35%;
}
#playStat {
  max-width: 50%;
}
